@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  background-color: #809dfd;
  background: linear-gradient(to right, #556a96, #8ea9ff);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid lightgray;
  width: 752px;
  max-width: 100%;
  min-height: 480px;
  box-shadow: 0 0 20px #636363;
}
.container h1 {
  text-align: center;
}
.container a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
}
.container a:hover {
  text-decoration: underline;
}
.container span {
  font-size: 11px;
  text-align: center;
}
.container .input-cont input {
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 6px;
  background-color: #eee;
  border: lightgray;
  outline: none;
}
.container button {
  background: linear-gradient(to right, #512da8, #554875);
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.5px;
  border: #333;
  padding: 8px 10px;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}
.container button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px #333;
}
.container p {
  text-align: center;
  font-size: 13px;
  line-height: 1.5em;
  color: #fff;
}



.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  transition: all 0.6s ease;
}
.sign-in {
  gap: 14px;
  left: 0;
  width: 50%;
  animation: sign-in 2s ease;
}
.container.active .sign-in {
  transform: translateX(0);
  opacity: 0;
}
.sign-up {
  gap: 12px;
  left: 0;
  z-index: 1;
  width: 50%;
  opacity: 0;
  animation: move 0.6s;
}
.container.active .sign-up {
  transform: translateX(0);
  opacity: 1;
  z-index: 5;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social-icons a {
  font-size: 14px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 11px;
}
.input-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.toggle-cont {
  background: linear-gradient(to right, #554875, #512da8);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  border-radius: 150px 0 0 50px;
  z-index: 999;
  transition: all 0.6s ease;
  animation: moving 2s ease-out -0.7s;
}
.container.active .toggle-cont {
  transform: translateX(-100%);
  border-radius: 0 150px 50px 0;
}
.toggle-cont h1 {
  color: #fff;
}
.toggle-cont .button {
  margin: 0 auto;
  background: transparent;
  border: 1px solid #d3d3d3;
  color: #fff;
}
.toggle {
  color: #fff;
  position: relative;
  height: 100%;
}
.container.active .toggle {
  transform: translateX(50%);
}
.toggle-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  padding: 0 5%;
  transition: transform 0.6s ease;
  animation: sign-in 2s ease;
}
.toggle-left {
  transform: translateX(-200%);
}
.container.active .toggle-left {
  transform: translateX(-50%);
}
.toggle-right {
  transform: translateX(0);
  right: 0;
}
.container.active .toggle-right {
  transform: translateX(500%);
}

@keyframes sign-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moving {
  from {
  left: -50%;
  border-radius: 0 150px 50px 0;
  }
  to {
  right: 0;
  border-radius: 150px 0 0 50px;
  }
}

/* 
Here I created another slide in animation for the toggle container */


/* @keyframes moving {
  from {
  width: 100%;
  left: 0;
  border-radius: 0 0 50px 0;
  }
  to {
  width: 50%;
  right: 0;
  border-radius: 150px 0 0 50px;
  }
} */